<!-- navegation controllers -->
<div class="arrows-post col-xs-12">
    <a href="#" class="previous">
        <span class="fa fa-angle-left fa-4x"></span>
        <div class="text">
            <div class="title">Anterior artículo</div>
            <div class="description hidden-xs">Pinso para gatos Compy: ¿Qué nutrientes necesita tu gato?</div>
        </div>
    </a>
    <a href="#" class="next">
        <div class="text">
            <div class="title">Siguiente artículo</div>
            <div class="description hidden-xs">Pinso para gatos Compy: ¿Qué nutrientes necesita tu gato?</div>
        </div>
        <span class="fa fa-angle-right fa-4x"></span>
    </a>
</div>
<!-- EO navegation controllers -->
