<!-- banner-form -->
<section class="banner-form">
    <img class="img-responsive" src="images/rss-background.jpg" alt="banner" />
    <div class="banner-form-content">
        <div class="container">
            <h2>GET OUR NEWSLETTER!</h2>
            <p>Subscribe to your newsletter for latest news and discounts. We will not spam you.</p>
            <div class="nearest-actions suscribe-actions">
                <form class="form-inline subscribe-frm" action="//valenciafoodtourspain.us13.list-manage.com/subscribe/post?u=a31b8b84e773812f846e7245b&amp;id=b015628416&amp;LOCATION=footer" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
                    <div class="form-group">
                        <div class="selection-box">
                            <select name="MMERGE1" class="required">
                                <option value="">Select a language</option>
                                <option value="English">English</option>
                                <option value="Русский">Русский</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                       <input type="email" value="" name="EMAIL" class="required email" placeholder="Enter Email">
                       <input type="submit" value="Subscribe" name="subscribe" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- EO banner-form -->
