<!-- block-gallery -->
<section class="block-gallery container">
	<h2 class="section-title">Have fun with us!</h2>
	<div class="row">
		<div class="col-xs-3"><img src="images/recursos/gal1.jpg" alt="imagen1" /></div>
		<div class="col-xs-3"><img src="images/recursos/gal2.jpg" alt="imagen1" /></div>
		<div class="col-xs-3"><img src="images/recursos/gal3.jpg" alt="imagen1" /></div>
		<div class="col-xs-3"><img src="images/recursos/gal4.jpg" alt="imagen1" /></div>
	</div>
	<div class="row">
		<div class="col-xs-3"><img src="images/recursos/gal5.jpg" alt="imagen1" /></div>
		<div class="col-xs-3"><img src="images/recursos/gal6.jpg" alt="imagen1" /></div>
		<div class="col-xs-3"><img src="images/recursos/gal7.jpg" alt="imagen1" /></div>
		<div class="col-xs-3"><img src="images/recursos/gal8.jpg" alt="imagen1" /></div>
    </div>
	<footer>
		<div class="container-links">
			<a href=""><i class="fa fa-plus-circle" aria-hidden="true"></i> View our gallery</a>
		</div>
	</footer>
</section>
<!-- EO block-gallery -->
