<!-- block-info-fullsize -->
<section class="expanded-container block-info pattern_bg">
    <div class="container align-center">
        <h1 class="header-section">The History of Valencia Through Food</h1>
        <p><strong>I am on a mission to bring the real Valencia to travelers.</strong> On my food tours you will not find franchises, chain restaurants, mediocre places or tourist traps. Join me to learn about Valencia’s <strong>legendary establishments that have been open for decades</strong> (some – over a century!). Meet the owners who inherited business from their parents and proudly keep local traditions alive to this day. Taste the <strong>authentic food made from the best ingredients</strong>. Explore the special off-the-beaten-track neighborhoods and <strong>eat traditional Valencia food</strong> where locals do!</p>
        <p><strong>Become a Valencian for a few hours… Join us!</strong></p>
        <p>&nbsp;</p>
        <div class="container-buttons-action-center">
            <a class="btn btn-primary btn-lg first-btn" href="/tour" role="button">Learn More</a>
            <a class="btn btn-success btn-lg eztixKioskLink btn-book" href="#" role="button">Book now</a>
        </div>
    </div>
</section>
<!-- EO block-info-fullsize -->
