<article class="block-image block-text">
    <div class="block-content-center">
        <div class="container text-default">
            <h2 class="title">Private tours</h2>
            <p>Should you wish a private tour for your group please send your request via email and I will try to accommodate you depending on the booking availability on the day of your choice.</p>
            <p><em>If you have any questions please check out our <a href="http://www.valenciafoodtourspain.com/faq/" target="_blank">FAQ section</a>,
                write us an email at <a href="mailto: info@deliciousvalencia.com" target="_blank">info@deliciousvalencia.com</a>
                or call us <a href="tel:+34669003728">(+34) 669 003 728</a><em></p>
        </div>
    </div>
</article>
