<!-- workers and roles -->
<article class="committee-grid">
    <div class="committe-president">
        <div class="president-rol">
            <img src="images/committee/0.jpeg" alt=". . ." class="img-circle" />
            <p class="title">Juan Roig</p>
            <p>Presidente</p>
        </div>
        <div class="president-speech">
            <p>“Nuestra principal meta es la de anticiparnos a las expectativas de nuestros ‘Jefes’ en el día a día, haciendo un trabajo excelente y siendo radicales en los planteamientos innovadores que llevemos a cabo para satisfacerlos”</p>
        </div>
    </div>
    <ul class="row committee-list">
        <li class="committee-rol wow fadeIn">
            <img src="images/committee/1.jpeg" alt=". . ." class="img-circle" />
            <p class="title">José Jordá</p>
            <p>Director General de Tiendas y Prescripción Perecederos</p>
        </li><li class="committee-rol wow fadeIn">
            <img src="images/committee/2.jpeg" alt=". . ." class="img-circle" />
            <p class="title">Julia Amorós</p>
            <p>Directora General de Prescripción Secos</p>
        </li><li class="committee-rol wow fadeIn">
            <img src="images/committee/3.jpeg" alt=". . ." class="img-circle" />
            <p class="title">Francisco Espert</p>
            <p>Director General de Compras Transformados del Campo</p>
        </li><li class="committee-rol wow fadeIn">
            <img src="images/committee/4.jpeg" alt=". . ." class="img-circle" />
            <p class="title">Rafael Berrocal</p>
            <p>Director General de Compras Carne y Mar </p>
        </li><li class="committee-rol wow fadeIn">
            <img src="images/committee/5.jpeg" alt=". . ." class="img-circle" />
            <p class="title">Francisco López </p>
            <p>Director General de Compras Fruta y Verdura </p>
        </li><li class="committee-rol wow fadeIn">
            <img src="images/committee/6.jpeg" alt=". . ." class="img-circle" />
            <p class="title">David Cid</p>
            <p>Director General de Compras Derivados del Petróleo</p>
        </li><li class="committee-rol wow fadeIn">
            <img src="images/committee/7.jpeg" alt=". . ." class="img-circle" />
            <p class="title">Oriol Montanyà</p>
            <p>Director General de Logística</p>
        </li><li class="committee-rol wow fadeIn">
            <img src="images/committee/8.jpeg" alt=". . ." class="img-circle" />
            <p class="title">Ramón Bosch</p>
            <p>Director General Financiero y Fiscal</p>
        </li><li class="committee-rol wow fadeIn">
            <img src="images/committee/9.jpeg" alt=". . ." class="img-circle" />
            <p class="title">Héctor Hernández</p>
            <p>Director General de Recursos Humanos</p>
        </li><li class="committee-rol wow fadeIn">
            <img src="images/committee/10.jpeg" alt=". . ." class="img-circle" />
            <p class="title">Daniel Blasco</p>
            <p>Director General en formación</p>
        </li><li class="committee-rol wow fadeIn">
            <img src="images/committee/11.jpeg" alt=". . ." class="img-circle" />
            <p class="title">Juan Antonio Germán</p>
            <p>Director General de Relaciones Externas</p>
        </li><li class="committee-rol wow fadeIn">
            <img src="images/committee/12.jpeg" alt=". . ." class="img-circle" />
            <p class="title">Rosa Aguado</p>
            <p>Directora General de Obras y Expansión</p>
        </li><li class="committee-rol wow fadeIn">
            <img src="images/committee/13.jpeg" alt=". . ." class="img-circle" />
            <p class="title">Félix Peña</p>
            <p>Director General de Administración</p>
        </li>
    </ul>
</article>
<!-- EO workers and roles -->
