<div class="block-half-bg">
    <div class="bg-one"></div>
    <div class="bg-two"></div>
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-6 block-item">
                <div class="block-content">
                    <h1>Atención al cliente</h1>
                    <p>Puedes enviarnos tus comentarios y propuestas, hacernos consultas y contarnos cualquier detalle.</p>
                </div>
            </article>
            <article class="col-xs-12 col-sm-6 block-item">
                <div class="block-content">
                    <h1>Sala de prensa</h1>
                    <p>Noticias, dossieres, notas de prensa y material Corporativo, imágenes de recurso.</p>
                </div>
            </article>
        </div>
    </div>
</div>