<!-- contact us banner -->
<div class="block-half-bg">
    <div class="bg-one"></div>
    <div class="bg-two"></div>
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-6 block-item">
                <a href="support.html" class="block-content">
                    <h2>Atención al cliente</h2>
                    <div class="icon">
                        <span class="icon-fmd-bullhorn" aria-hidden="true"></span>
                    </div>
                    <p>Puedes enviarnos tus comentarios y propuestas, hacernos consultas y contarnos cualquier detalle.</p>
                </a>
            </article>
            <article class="col-xs-12 col-sm-6 block-item">
                <a href="press.html" class="block-content">
                    <h2>Sala de prensa</h2>
                    <div class="icon">
                        <span class="icon-fmd-notebook" aria-hidden="true"></span>
                    </div>
                    <p>Noticias, dossieres, notas de prensa y material Corporativo, imágenes de recurso.</p>
                </a>
            </article>
        </div>
    </div>
</div>
<!-- EO contact us banner -->
