<!-- cookies -->
<article class="cookies">
    <div class="cookies-container">
        <h2>Uso de cookies</h2>
        <a role="button" class="close-cookies"><span class="fa fa-angle-right icon" aria-hidden="true"><span class="fa fa-angle-left sub-icon" aria-hidden="true"></span></span></a>
        <p>Utilizamos "cookies" propias y de terceros para elaborar el sitio. Si continúa navegando acepta su uso.</p>
        <p><a href="#">Más información</a> y <a href="#">política de cookies</a>.</p>
    </div>
</article>
<!-- EO cookies -->
