<div class="container">
    <div class="row">
        <div class="footer-logo col-xs-12 col-md-3">
            <img src="images/mercadona-logo-white.png" alt="mercadona" />
        </div>
        <div class="col-xs-12 col-sm-9 col-md-7 footer-menu-group">
            <div class="row">
                <div class="col-xs-12 col-sm-4 footer-menu-item">
                    <div class="footer-menu-border">
                        <p class="title">
                            <a role="button">Lo más buscado <i class="fa fa-chevron-down visible-xs arrow-icon" aria-hidden="true"></i></a>
                        </p>
                        <div class="collapse">
                            <ul class="footer-menu footer-menu-hover">
                                <li><a href="#" rel="go to ...">Localizar Supermercados</a></li>
                                <li><a href="#" rel="go to ...">Trabaja con nosotros</a></li>
                                <li><a href="#" rel="go to ...">Sala de prensa</a></li>
                                <li><a href="#" rel="go to ...">Conoce Mercadona</a></li>
                                <li><a href="#" rel="go to ...">Consejos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 footer-menu-item">
                    <div class="footer-menu-border">
                        <p class="title">
                            <a role="button">Enlaces de interes <i class="fa fa-chevron-down visible-xs arrow-icon" aria-hidden="true"></i></a>
                        </p>
                        <div class="collapse">
                            <ul class="footer-menu footer-menu-hover">
                                <li><a href="#" rel="go to ...">Tienda Online</a></li>
                                <li><a href="#" rel="go to ...">E. Factura</a></li>
                                <li><a href="#" rel="go to ...">Portail Trinidad</a></li>
                                <li><a href="#" rel="go to ...">Portail Trabajador</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 footer-menu-item call-menu">
                    <p class="hidden-xs title"><a href="#" rel="go to ...">Atención al cliente</a></p>
                    <ul class="footer-menu footer-menu-hover">
                        <li><a href="tel:900500103" rel="Llamar a Atención al cliente">900 500 103</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 footer-menu-group social-container">
            <p class="title"><a href="#" rel="go to ...">Redes sociales</a></p>
            <ul class="footer-menu">
                <li>
                    <ul class="social-list">
                        <li><a href="#" rel="social facebook">
                            <span class="no-hover-style fa-stack fa-lg">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </span>
                            <span class="hover-style fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a></li>
                        <li><a href="#" rel="social twitter">
                            <span class="no-hover-style fa-stack fa-lg">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </span>
                            <span class="hover-style fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a></li>
                        <li><a href="#" rel="social youtube">
                            <span class="no-hover-style fa-stack fa-lg">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-youtube fa-stack-1x"></i>
                            </span>
                            <span class="hover-style fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                            </span>
                        </a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 footer-copyright-group">
            <p class="hidden-xs footer-copyright">&copy; Mercadona S.A. A46103834. Todos los derechos reservados.</p>
            <ul class="footer-menu-list">
                <li><a href="#" alt="go to...">Accesibilidad</a></li>
                <li><a href="#" alt="go to...">Política de privacidad</a></li>
                <li><a href="#" alt="go to...">Política de Cookies</a></li>
                <li><a href="#" alt="go to...">Términos y condiciones</a></li>
            </ul>
            <p class="visible-xs footer-copyright">&copy; Mercadona S.A. A46103834. Todos los derechos reservados.</p>
        </div>
    </div>
</div>
