<!-- footer -->
<div class="container">
    <div class="row">
        <div class="footer-logo col-xs-12 col-md-3">
            <img src="images/mercadona-logo-white.png" alt="mercadona" />
        </div>
        <div class="col-xs-12 col-sm-9 col-md-7 footer-menu-group">
            <div class="row">
                <div class="col-xs-12 col-sm-4 footer-menu-item">
                    <div class="footer-menu-border">
                        <p class="title">
                            <a role="button">Lo más buscado <span class="fa fa-chevron-down visible-xs arrow-icon" aria-hidden="true"></span></a>
                        </p>
                        <div class="collapse">
                            <ul class="footer-menu footer-menu-hover">
                                <li><a href="#">Localizar Supermercados</a></li>
                                <li><a href="#">Trabaja con nosotros</a></li>
                                <li><a href="#">Sala de prensa</a></li>
                                <li><a href="#">Conoce Mercadona</a></li>
                                <li><a href="#">Consejos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 footer-menu-item">
                    <div class="footer-menu-border">
                        <p class="title">
                            <a role="button">Enlaces de interes <span class="fa fa-chevron-down visible-xs arrow-icon" aria-hidden="true"></span></a>
                        </p>
                        <div class="collapse">
                            <ul class="footer-menu footer-menu-hover">
                                <li><a href="#">Compra Online</a></li>
                                <li><a href="#">Tarjeta Mercadona</a></li>
                                <li><a href="#">Factura Online</a></li>
                                <li><a href="#">Portal Trabajador</a></li>
                                <li><a href="#">Portal Factura Proveedor</a></li>
                                <li><a href="#">Portal Trinidad</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 footer-menu-item call-menu">
                    <p class="title"><a href="#">Atención al cliente</a></p>
                    <ul class="footer-menu footer-menu-hover">
                        <li><a href="tel:900500103">900 500 103</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 footer-menu-group social-container">
            <p class="title"><a href="#">Redes sociales</a></p>
            <ul class="footer-menu">
                <li>
                    <ul class="social-list">
                        <li><a href="#">
                            <span class="no-hover-style fa-stack fa-lg">
                                <span class="fa fa-circle-thin fa-stack-2x"></span>
                                <span class="fa fa-facebook fa-stack-1x"></span>
                            </span>
                            <span class="hover-style fa-stack fa-lg">
                                <span class="fa fa-circle fa-stack-2x"></span>
                                <span class="fa fa-facebook fa-stack-1x fa-inverse"></span>
                            </span>
                        </a></li>
                        <li><a href="#">
                            <span class="no-hover-style fa-stack fa-lg">
                                <span class="fa fa-circle-thin fa-stack-2x"></span>
                                <span class="fa fa-twitter fa-stack-1x"></span>
                            </span>
                            <span class="hover-style fa-stack fa-lg">
                                <span class="fa fa-circle fa-stack-2x"></span>
                                <span class="fa fa-twitter fa-stack-1x fa-inverse"></span>
                            </span>
                        </a></li>
                        <li><a href="#">
                            <span class="no-hover-style fa-stack fa-lg">
                                <span class="fa fa-circle-thin fa-stack-2x"></span>
                                <span class="fa fa-play fa-stack-1x"></span>
                            </span>
                            <span class="hover-style fa-stack fa-lg">
                                <span class="fa fa-circle fa-stack-2x"></span>
                                <span class="fa fa-play fa-stack-1x fa-inverse"></span>
                            </span>
                        </a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 footer-copyright-group">
            <p class="hidden-xs footer-copyright">&copy; Mercadona S.A. A46103834. Todos los derechos reservados.</p>
            <ul class="footer-menu-list">
                <li><a href="#">Accesibilidad</a></li>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Política de Cookies</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
            <p class="visible-xs footer-copyright">&copy; Mercadona S.A. A46103834. <span class="copyright-definition">Todos los derechos reservados.</span></p>
        </div>
    </div>
</div>
<!-- EO footer -->
