<!-- big grid green -->
<div class="grid-green">
    <section class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-6 br-md br-sm item">
                <div class="item-container">
                    <div class="item-align">
                        <h2>Dosier de prensa</h2>
                        <div class="icon">
                            <span class="icon-fmd-document" aria-hidden="true"></span>
                        </div>
                        <p>Puedes enviarnos tus comentarios y propuestas, hacernos consultas y contarnos cualquier detalle.</p>
                    </div>
                </div>
            </article>
            <article class="col-xs-12 col-sm-6 bl-md bb-md bl-sm item">
                <div class="item-container">
                    <div class="item-align">
                        <h2>Galería multimedía</h2>
                        <div class="icon">
                            <span class="icon-fmd-multimedia" aria-hidden="true"></span>
                        </div>
                        <p>Noticias, dossieres, notas de prensa y material Corporativo, imágenes de recurso.</p>
                    </div>
                </div>
            </article>
            <article class="col-xs-12 col-sm-6 col-md-4 br-md br-sm item">
                <div class="item-container">
                    <div class="item-align">
                        <h2>Estudios e informes</h2>
                        <div class="icon">
                            <span class="icon-fmd-report" aria-hidden="true"></span>
                        </div>
                        <p>Lorem Ipsum has industry's  standard dummy text.</p>
                        <button class="btn-rounded-transparent">Lorem Ipsum</button>
                    </div>
                </div>
            </article>
            <article class="col-xs-12 col-sm-6 col-md-4 br-md bl-md bl-sm item">
                <div class="item-container">
                    <div class="item-align">
                        <h2>Memorias anuales</h2>
                        <div class="icon">
                            <span class="icon-fmd-documents" aria-hidden="true"></span>
                        </div>
                        <p>Lorem Ipsum has industry's  standard dummy text.</p>
                        <button class="btn-rounded-transparent">Lorem Ipsum</button>
                    </div>
                </div>
            </article>
            <article class="col-xs-12 col-md-4 item-sm-first bl-md item">
                <div class="item-container">
                    <div class="item-align">
                        <h2>Memoria medioambiental</h2>
                        <div class="icon">
                            <span class="icon-fmd-world" aria-hidden="true"></span>
                        </div>
                        <p>Lorem Ipsum has industry's  standard dummy text.</p>
                        <button class="btn-rounded-transparent">Lorem Ipsum</button>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<!-- EO big grid green -->
