<!-- tips slider -->
<div class="one-slider one-slider-default wow fadeInUp">
    <div class="slider-container">
        <section class="slider-content">
            <article class="item">
                <div class="image-content">
                    <img src="images/tips1.jpg" alt=". . ." />
                </div>
                <a href="#" class="slider-inner">
                    <h2>Alimentación</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing nunc ornare leo sem, in feugiat lectus sagittis sed. </p>
                </a>
            </article>
            <article class="item">
                <div class="image-content">
                    <img src="images/tips2.jpg" alt=". . ." />
                </div>
                <a href="#" class="slider-inner">
                    <h2>Perfumería</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing nunc ornare leo sem, in feugiat lectus sagittis sed. </p>
                </a>
            </article>
            <article class="item">
                <div class="image-content">
                    <img src="images/tips3.jpg" alt=". . ." />
                </div>
                <a href="#" class="slider-inner">
                    <h2>Hogar</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing nunc ornare leo sem, in feugiat lectus sagittis sed. </p>
                </a>
            </article>
            <article class="item">
                <div class="image-content">
                    <img src="images/tips2.jpg" alt=". . ." />
                </div>
                <a href="#" class="slider-inner">
                    <h2>Mascotas</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing nunc ornare leo sem, in feugiat lectus sagittis sed. </p>
                </a>
            </article>
        </section>
    </div>
    <a role="button" class="slider-controller prev"><span class="fa fa-angle-left icon" aria-hidden="true"></span></a>
    <a role="button" class="slider-controller next"><span class="fa fa-angle-right icon" aria-hidden="true"></span></a>
</div>
<div class="link-show-all hidden-xs"><a href="#">Ver todos</a></div>
<!-- EO tips slider -->
