<section class="job-vacancies row">
    <div class="number col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-4 col-lg-offset-0 ">98</div>
    <div class="col-xs-12 col-sm-8 col-md-7 col-lg-8">
        <div class="text">Ofertas de empleo en España</div>
        <div class="buttons">
            <button class="btn btn-rounded-job" type="button">Ver las ofertas de empleo en España</button>
            <button class="btn btn-rounded-job" type="button">Ver las ofertas de empleo en Portugal</button>
        </div>
    </div>
</section>
