<!-- card text grid -->
<div class="card-images-container">
    <article class="card wow fadeIn">
        <div class="container-image">
            <img src="images/grid/recurso1.jpg" alt=". . ." />
        </div>
        <div class="container-text">
            <a class="link text-align" href="#">
                <h2>Historia</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing nunc ornare leo sem, in feugiat lectus sagittis sed.</p>
            </a>
        </div>
    </article>
    <article class="card wow fadeIn">
        <div class="container-image">
            <img src="images/grid/recurso2.jpg" alt=". . ." />
        </div>
        <div class="container-text">
            <a class="link text-align" href="#">
                <h2>Comité</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing nunc ornare leo sem, in feugiat lectus sagittis sed.</p>
            </a>
        </div>
    </article>
    <article class="card wow fadeIn">
        <div class="container-image">
            <img src="images/grid/recurso3.jpg" alt=". . ." />
        </div>
        <div class="container-text">
            <a class="link text-align" href="#">
                <h2>Memoria anual</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing nunc ornare leo sem, in feugiat lectus sagittis sed.</p>
            </a>
        </div>
    </article>
    <article class="card wow fadeIn">
        <div class="container-image">
            <img src="images/grid/recurso4.jpg" alt=". . ." />
        </div>
        <div class="container-text">
            <a class="link text-align" href="#">
                <h2>Responsabilidad</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing nunc ornare leo sem, in feugiat lectus sagittis sed.</p>
            </a>
        </div>
    </article>
</div>
<!-- EO card text grid -->
