<article class="block-image block-image_know-us">
    <img src="images/slider/slider1.jpg" alt="image title" />
    <div class="film-grey"></div>
    <div class="block-content-center">
        <div class="container text-default">
            <h1 class="title">Conocenos</h1>
            <p>Mercadona es una compañía  de supermercados, de capital 100% español y familiar, que tiene por objetivo satisfacer las necesidades de sus clientes</p>
            <button type="button" class="btn-rounded-transparent">Saber más</button>
        </div>
    </div>
</article>