<!-- block half greens -->
<div class="block-half-bg">
    <div class="bg-one"></div>
    <div class="bg-two"></div>
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-6 block-item">
                <div class="block-content">
                    <h2>Memoria económica</h2>
                    <div class="icon">
                        <span class="icon-fmd-documents" aria-hidden="true"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis eu nulla at elit laoreet hendrerit proin.</p>
                </div>
            </article>
            <article class="col-xs-12 col-sm-6 block-item">
                <div class="block-content">
                    <h2>Memoria medioambiental</h2>
                    <div class="icon">
                        <span class="icon-fmd-world" aria-hidden="true"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis eu nulla at elit laoreet hendrerit proin.</p>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- EO block half greens -->
