<!-- news -->
<div class="known-news one-slider-default">
    <div class="slider-container">
        <section class="slider-content">
            <article class="item wow fadeInUp">
                <div class="image-content">
                    <img src="images/known-act1.jpg" alt=". . ." />
                </div>
                <a href="#" class="slider-inner">
                    <h2>Servicios</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing nunc ornare leo sem, in feugiat lectus sagittis sed. </p>
                </a>
            </article>
            <article class="item wow fadeInUp">
                <div class="image-content">
                    <img src="images/known-act2.jpg" alt=". . ." />
                </div>
                <a href="card.html" class="slider-inner">
                    <h2>Tarjeta Mercadona</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing nunc ornare leo sem, in feugiat lectus sagittis sed. </p>
                </a>
            </article>
            <article class="item wow fadeInUp hidden-sm">
                <div class="image-content">
                    <img src="images/known-act3.jpg" alt=". . ." />
                </div>
                <a href="invoice.html" class="slider-inner">
                    <h2>Factura online</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing nunc ornare leo sem, in feugiat lectus sagittis sed. </p>
                </a>
            </article>
        </section>
    </div>
</div>
<!-- EO news -->
