<article class="block-magazine">
    <div class="magazine container">
        <img src="images/magazine.jpg" alt="magazine" class="wow fadeIn"/>
    </div>
    <div class="container-magazine">
        <img class="img-background" src="images/background-magazine.jpg" alt="image title" />
        <div class="film-grey"></div>
        <div class="text">
            <div class="container">
                <div class="col-xs-12 col-sm-offset-6 col-sm-6">
                    <h2 class="title">Revista de perfumería</h2>
                    <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit vitae pharetra velit vestibulum ante ipsum primis in faucibus orci luctus.</p>
                    <div class="links">
                        <button type="button">Edición de verano</button>
                        <a href="#">Ver todas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
