<!-- list of management -->
<div class="management-group">
    <dl class="management-list">
        <dt>Presidente</dt>
        <dd>Juan Roig Alfonso</dd>
    </dl>    

    <dl class="management-list">
        <dt>Vicepresidenta</dt>
        <dd>Hortensia Herrero Chacón</dd>
    </dl>    

    <dl class="management-list">
        <dt>Secretaria del consejo</dt>
        <dd>Carolina Roig Herrero</dd>
    </dl>    

    <dl class="management-list">
        <dt>Vocales</dt>
        <dd>Hortensia Roig Herrero</dd>
        <dd>Amparo Roig Herrero</dd>
        <dd>Juana Roig Herrero</dd>
        <dd>Rafael Gómez Gómez</dd>
        <dd>Fernando Roig Alfonso</dd>
    </dl>    
</div>
<!-- EO list of management -->
