<!-- navbar menu -->
<div class="container">
    <nav class="navbar">
        <ul class="nav navbar-nav" id="topmenu" role="navigation">
            <li class="logo-fixed">
                <a role="button" class="visible-xs nav-phone-launch"><span class="fa fa-angle-right" aria-hidden="true"><span class="fa fa-angle-left sub-icon" aria-hidden="true"></span></span></a>
                <a class="logo" href="index.html">
                    <img class="hidden-xs" src="images/delicious-valencia-small.png" alt="Delicious Valencia Unique Food Tours in Valencia. Кулинарные Экскурсии в Валенсии" />
                    <img class="visible-xs" src="images/delicious-valencia-logo.png" alt="Delicious Valencia Unique Food Tours in Valencia. Кулинарные Экскурсии в Валенсии" />
                </a>
            </li>
            {% for menu in navbar.main_navigation %}
                <li class="panel-menu" id="parent-{{ menu.id }}">
                    <a id="link-{{ menu.id }}" class="{% if menu.submenu %} hidden-xs {% endif %} collapsed {% if menu.id == page_name %}active_menu{% endif %}" role="button" data-toggle="collapse" data-parent="#topmenu" data-target="#{{ menu.id }}">
                        <span>{{ menu.name }}</span>
                        {% if menu.submenu %}
                        <span class="fa {% if menu.id == page_name %}fa-angle-up{% else %}fa-angle-down{% endif %} icon-collapse" aria-hidden="true"></span>
                        {% endif %}
                    </a>
                    <a class="{% if menu.submenu %} visible-xs collapsed {% else %} hidden {% endif %}" role="button" data-toggle="collapse" data-parent="#topmenu"  data-target="#{{ menu.id }}">
                        <span>{{ menu.name }}</span>
                        {% if menu.submenu %}
                        <span class="fa fa-chevron-down icon-phone-collapse closed" aria-hidden="true"></span>
                        <span class="fa fa-chevron-up icon-phone-collapse opened" aria-hidden="true"></span>
                        {% endif %}
                    </a>
                    {% if menu.submenu %}
                    <div id="{{ menu.id }}" class="sub-menu collapse {% if menu.id == page_name %}force-show-menu{% endif %}">
                        <div class="submenu-content">
                            <nav>
                                <ul class="nav navbar-nav">
                                    {% for section in menu.submenu %}
                                        <li><a class="section-submenu {% if section.id == subpage_name %}active{% endif %}" href="{{ section.link }}">{{ section.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    {% endif %}
                </li>
            {% endfor %}
				<li class="btn-navbar"><a href="" class="btn-primary">CALENDAR</a></li>
				<li class="btn-navbar last-btn"><a href="" class="btn-success">BOOK NOW</a></li>
        </ul>
        <div class="visible-xs mgt-70">
            <button type="button" class="btn btn-rounded-shop buy-button"><span class="icon-fmd-cart"></span> Compra online</button>
        </div>
        <div class="visible-xs mgt-30">
            <div class="languages-menu">
                <a role="button" class="languages-mobile-button"><span class="language">España - Español</span><span class="fa fa-chevron-down icon-language"></span></a>
            </div>
        </div>
    </nav>
</div>

<div class="languages-menu-mobile closed hidden-sm hidden-md hidden-lg">
    <div class="container">
        <div class="logo-fixed">
            <a role="button" class="close-languages"><span class="fa fa-angle-right"></span><span class="fa fa-angle-left sub-icon"></span></a>
            <a class="logo" href="index.html">
                <img src="images/delicious-valencia-logo.png" alt="Delicious Valencia Unique Food Tours in Valencia. Кулинарные Экскурсии в Валенсии" />
            </a>
        </div>
        <dt>España</dt>
        <dd class="active"><a role="button">Español</a></dd>
        <dd><a role="button" data-subtext="España -">Valencià</a></dd>
        <dd><a role="button" data-subtext="España -">Català</a></dd>
        <dd><a role="button" data-subtext="España -">Galego</a></dd>
        <dd><a role="button" data-subtext="España -">Euskera</a></dd>
        <dd><a role="button" data-subtext="España -">English</a></dd>
        <dd><a role="button" data-subtext="España -">Deutsh</a></dd>
        <dt>Portugal</dt>
        <dd><a role="button" data-subtext="Portugal -">Português</a></dd>
        <dd><a role="button" data-subtext="Portugal -">Español</a></dd>
        <dd><a role="button" data-subtext="Portugal -">English</a></dd>
    </div>
</div>
<!-- EO navbar menu -->
