<section class="banner-image">
    <img class="img-responsive" src="images/shop-mercadona.jpg" alt="banner" />
    <div class="film-grey"></div>
    <div class="banner-content">
        <div class="container">
            <p>1500 Supermercados.</p>
            <p>Encuentra tu Mercadona más cercano</p>
            <div class="nearest-actions">
                <button class="pull-left btn btn-big btn-rounded-shop btn-search"><i class="icon-search fa fa-map-marker" aria-hidden="true"></i> Cerca de mi</button>
                <div class="hidden-xs input-group">
                    <input type="text" class="pull-left form-control input-big input-rounded" placeholder="Dirección, Población o código postal">
                    <a role="button" class="input-rounded-group-addon"><i class="icon-input fa fa-search" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>