<nav>
  <ul class="pager">
    <li class="visible-xs init disabled">
        <a href="#"><i class="fa fa-3x fa-angle-double-left"></i></a>
    </li>
    <li>
        <a href="#"><span class="hidden-xs">Anterior</span><i class="fa fa-3x fa-angle-left visible-xs"></i></a>
    </li>
    <li><a class="active" href="#">1</a></li>
    <li class="hidden-xs"><a href="#">2</a></li>
    <li class="hidden-xs"><a href="#">3</a></li>
    <li class="hidden-xs"><a href="#">4</a></li>
    <li class="hidden-xs"><a href="#">5</a></li>
    <li class="hidden-xs"><a href="#">6</a></li>
    <li class="hidden-xs"><a href="#">7</a></li>
    <li class="hidden-xs"><a href="#">...</a></li>
    <li>
        <a href="#"><span class="hidden-xs">Siguiente</span><i class="fa fa-3x fa-angle-right visible-xs"></i></a>
    </li>
    <li class="visible-xs end">
        <a href="#"><i class="fa fa-3x fa-angle-double-right"></i></a>
    </li>
  </ul>
</nav>
