<!-- press banner -->
<article class="block-image block-image-press block-image_know-us mgt-50 mgb-sm-100 mgb-50 wow fadeInUp">
    <img src="images/slider/slider1.jpg" alt="image title" />
    <div class="film-grey"></div>
    <div class="block-content-center">
        <div class="container text-default">
            <h2 class="title">Contacto de prensa</h2>
            <p>Mercadona es una compañía  de supermercados, de capital 100% español y familiar, que tiene por objetivo satisfacer las necesidades de sus clientes.</p>
            <div class="row">
                <div class="col-xs-12 col-sm-6 icon-container">
                    <span class="icon-fmd-phone icon"></span>
                    <p><a href="tel:900500103">900 500 103</a></p>
                </div>
                <div class="col-xs-12 col-sm-6 icon-container">
                    <span class="icon-fmd-mail icon"></span>
                    <p><a href="#">prensa@mercadona.es</a></p>
                </div>
            </div>
        </div>
    </div>
</article>
<!-- EO press banner -->
