<!-- grid 4 green support -->
<div class="support-grid">
    <article class="item bg-top-left">
        <div class="support-container">
            <div class="support-centered">
                <h2>Formulario de contacto</h2>
                <span class="icon-fmd-form icon"></span>
                <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
        </div>
    </article>
    <article class="item bg-top-right">
        <div class="support-container">
            <div class="support-centered">
                <h2>Preguntas Frecuentes</h2>
                <span class="icon-fmd-question icon"></span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </article>
</div>
<div class="support-grid">
    <article class="item bg-bottom-left">
        <div class="support-container">
            <div class="support-centered">
                <h2>Puedes llamarnos</h2>
                <a href="tel:900500103" class="phone"><span class="icon-fmd-mobile"> <span class="phone-number">900 500 103</span></span></a>
                <p>Información, sugerencias, reclamaciones,... llámenos y resolveremos todas sus dudas en más de 56 idiomas.</p>
            </div>
        </div>
    </article>
    <article class="item bg-bottom-right">
        <div class="support-container">
            <div class="support-centered">
                <h2>Escríbenos</h2>
                <ul class="social-list">
                    <li><a href="#">
                        <span class="no-hover-style fa-stack fa-lg">
                            <span class="fa fa-circle-thin fa-stack-2x"></span>
                            <span class="fa fa-facebook fa-stack-1x"></span>
                        </span>
                        <span class="hover-style fa-stack fa-lg">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa fa-facebook fa-stack-1x fa-inverse"></span>
                        </span>
                    </a></li>
                    <li><a href="#">
                        <span class="no-hover-style fa-stack fa-lg">
                            <span class="fa fa-circle-thin fa-stack-2x"></span>
                            <span class="fa fa-twitter fa-stack-1x"></span>
                        </span>
                        <span class="hover-style fa-stack fa-lg">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa fa-twitter fa-stack-1x fa-inverse"></span>
                        </span>
                    </a></li>
                </ul>
                <p>Contacta con Mercadona desde nuestras redes sociales.</p>
            </div>
        </div>
    </article>
</div>
<!-- EO grid 4 green support -->
