<!-- timeline history -->
<div class="timeline">
    <div class="img-header">
        <img class="wow fadeInUp" src="images/timeline/header_timeline.jpg" alt="image timeline">
    </div>
    {% for data in timeline %}
    {% if data.imgbg %}
    <div class="img-bg hidden-xs">
        <img class="wow fadeInUp" src="{{ data.imgbg }}" alt="" data-wow-delay=".5s">
    </div>
    {% endif %}
    <div class="content {{ loop.cycle('odd', 'even') }}">
        <div class="content-img hidden-xs">
            {% if data.img %}<img class="wow fadeInUp" src="{{ data.img }}" alt="" data-wow-delay=".2s">{% endif %}
        </div>
        <div class="diagram"><div class="circle"></div>{% if not loop.last %}<div class="line"></div>{% endif %}</div>
        <div class="content-text">
            <div class="hidden-xs arrow {{ loop.cycle('arrow-left', 'arrow-right') }}"></div>
            <div class="description">
                <div class="date">{{ data.date}}<span class="fa fa fa-angle-down visible-xs-inline"></span></div>
                <div class="text collapse"> {{ data.text }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- EO timeline history -->
