<!-- testimonials -->
{% import "/includes/_testimony.html" as testimonyBlock %}

<section class="expanded-container tours-resume pattern_bg_home_circle pattern_bg">
    <div class="container align-center">
        <h1 class="header-section">Tours</h1>
        <nav class="tour_nav inner_wrap">
            <ul class="row" id="circlsec">
                <li>
                    <a href="http://avitaltours.com/san-francisco/the-traveler/" data-user-type="traveler" data-slide-index="1">
                        <h1>
                          <span class="tag">Tour</span>
                          <span class="user_type">Basic</span>
                          <span class="tag">tapas for<br>40€</span>
                        </h1>
                    </a>
                </li>
                      <li>
              <a href="http://avitaltours.com/san-francisco/the-local/" data-user-type="local" data-slide-index="2">
                <h1>
                  <span class="tag">Tour</span>
                  <span class="user_type">Regular</span>
                  <span class="tag">tapas for<br>60€</span>
                </h1>
              </a>
            </li>
                      <li>
              <a href="http://avitaltours.com/san-francisco/the-company/" data-user-type="company" data-slide-index="3">
                <h1>
                    <span class="tag">Tour</span>
                    <span class="user_type">Premium</span>
                    <span class="tag">tapas for<br>90€</span>
                </h1>
              </a>
            </li>
            <li>
    <a href="http://avitaltours.com/san-francisco/the-company/" data-user-type="company" data-slide-index="3">
      <h1>
          <span class="tag">Tour</span>
          <span class="user_type">Cabanyal</span>
          <span class="tag">tapas & travel for<br>80€</span>
      </h1>
    </a>
  </li>

                  </ul>
      </nav>
  </div>
    </section>


<!-- EO testimonials -->
