<!-- video block -->
<section class="video-text row">
    <div class="text col-xs-12 col-md-6">
        <h2>Ventajas de trabajar en Mercadona</h2>
        <p>“Jefe” (Cliente): Mercadona se esfuerza día a día para satisfacer a sus Jefes, prescribiendo soluciones con la mejor relación calidad-precio del mercado para que los clientes se fabriquen su Compra Total.</p>
    </div>
    <div class="videoWrapper col-xs-12 col-md-6">
        <!-- EXT youtube -->
        <iframe src="https://www.youtube.com/embed/NWLnoE1CajI?list=PLWVL39OE7T86QTlqG0qZHrYjOyJUnxWnJ?autoplay=0&showinfo=0&controls=0" allowfullscreen="" style="border:none;"></iframe>
        <!-- EO EXT youtube -->
    </div>
</section>
<!-- EO video block -->
