<!-- work whit us -->
<article class="block-image block-work-with-us">
    <div class="block-content-center">
        <div class="container text-default">
            <h2 class="title">Trabaja con nosotros</h2>
            <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit vitae pharetra velit vestibulum ante ipsum primis orci luctus. </p>
            <button type="button" class="btn-rounded-transparent">Ver ofertas de empleo</button>
        </div>
    </div>
</article>
<!-- EO work whit us -->
