.checkbox-info {
    font-family: $fontFamily-GothamPro;
    font-size: 1.15em;
    color: $colorGrey-600;
    margin-bottom: 30px;
}

.checkbox {
    margin-bottom: 30px;
    .text {
        position: relative;
        top: 2px;
    }
    label {
        font-size: 1em;
        padding-left: 40px;
        min-height: 25px;
        &:after{
            content: '';
            display: table;
            clear: both;
        }
        input[type="checkbox"]{
            display: none;
            &:checked + .cr .cr-icon{
                transform: scale(1) rotateZ(0deg);
                opacity: 1;
            }
            &:disabled + .cr {
                opacity: .5;
            }
            + .cr .cr-icon{
                transform: scale(3) rotateZ(-20deg);
                opacity: 0;
                transition: all .3s ease-in;
            }
        }
    }
    .cr {
        position: absolute;
        left: 0;
        display: inline-block;
        border: 1px solid $colorGrey-300;
        border-radius: .25em;
        width: 1.45em;
        height: 1.45em;
        float: left;
        margin-right: .5em;
        .cr-icon {
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 50%;
            left: 20%;
        }
    }
}
