.form-group, .g-recaptcha {
    margin-bottom: 30px;
}
.form-control {
    @include placeholder-font($fontFamily-GothamPro, 300);
    font-family: $fontFamily-GothamPro;
}
legend {
    font-size: 1em;
    border-bottom: 0;
    .title {
        font-weight: bold;
        color: $colorGreen-500;
    }
    .info {
        font-family: $fontFamily-GothamPro;
        color: $colorGrey-400;
    }
}
@media(min-width: $screen-tablet) {
    .form-control {
        font-size: 1.29em;
    }
    legend {
        .title {
            font-size: 1.36em;
        }
    }
}
@media(max-width: $screen-xs-max) {
    legend {
        .title {
            font-size: 1.15em;
        }
        .info {
            display: block;
            font-size: 0.85em;
        }
    }
}

