form {
    .required:after {
        content: "*";
        color: $colorGold-300;
        padding-left: 5px;
    }
    .required-l:before {
        content: "*";
        color: $colorGold-300;
        padding-right: 5px;
    }
    label {
        font-family: $fontFamily-roboto;
        font-weight: normal;
        color: $colorGrey-600;
    }
    @media (min-width: $screen-tablet) {
        label {
            font-size: 1.29em;
        }
    }
    @media (max-width: $screen-xs-max) {
        label {
            font-size: 1.15em;
        }
    }
}
.checkbox label {
    font-family: $fontFamily-roboto;
    color: $colorGrey-400;
}
