form {
    .required::after {
        padding-left: 5px;
        color: $colorGold-300;
        content: "*";
    }

    .required-l::before {
        padding-right: 5px;
        color: $colorGold-300;
        content: "*";
    }

    label {
        color: $colorGrey-600;
        font-family: $fontFamily-GothamPro;
        font-weight: normal;
    }
    @media (min-width: $screen-tablet) {
        label {
            font-size: 1.29em;
        }
    }
    @media (max-width: $screen-xs-max) {
        label {
            font-size: 1.15em;
        }
    }
}

.checkbox label {
    color: $colorGrey-400;
    font-family: $fontFamily-GothamPro;
}
