$fontFamily-GothamPro: 'GothamPro, Arial';
$fontFamily-Oswald: 'Oswald';
$fontFamily-fontAwesome: 'FontAwesome';

$fontWeight-black: 900;         //GothamPro-Black, GothamPro-BlackItalic
$fontWeight-bold: 800;          //GothamPro-Bold, GothamPro-BoldItalic
$fontWeight-narrow-bold: 700;   //GothamProNarrow-Bold
$fontWeight-narrow-medium: 600; //GothamProNarrow-Medium
$fontWeight-medium: 500;        //GothamPro-Medium, GothamPro-MediumItalic
$fontWeight-normal: 400;        //GothamPro, GothamProItalic
$fontWeight-light: 300;         //GothamPro-Light, GothamPro-LightItalic
