$paletteGrey: #e4e8ea #a0a0a0 #545454 #3d3d3d #222222;
$paletteOrange: #FFC94A #dfb041 #B08B33;
$paletteGold: #D6B078 #a3865b #756041;
$paletteGreen: #62a5a1 #4e8481 #3A615F;
$paletteRed: #E8530A #C04508 #993706;

$colorTransparent: transparent;
$colorBlack: #000000;
$colorWhite: #ffffff;

$colorGrey-300: nth($paletteGrey, 1);
$colorGrey-400: nth($paletteGrey, 2);
$colorGrey-500: nth($paletteGrey, 3);
$colorGrey-600: nth($paletteGrey, 4);
$colorGrey-700: nth($paletteGrey, 5);

$colorOrange-300: nth($paletteOrange, 1);
$colorOrange-400: nth($paletteOrange, 2);
$colorOrange-500: nth($paletteOrange, 3);

$colorGreen-300: nth($paletteGreen, 1);
$colorGreen-400: nth($paletteGreen, 2);
$colorGreen-500: nth($paletteGreen, 3);

$colorRed-300: nth($paletteRed, 1);
$colorRed-400: nth($paletteRed, 2);
$colorRed-500: nth($paletteRed, 3);

$colorGold-300: nth($paletteGold, 1);
$colorGold-400: nth($paletteGold, 2);
$colorGold-500: nth($paletteGold, 3);
