$fontFamily-GothamPro: 'GothamPro';
$fontFamily-fontAwesome: 'FontAwesome';
$fontFamily-mercadona: 'FontMercadona';

$color-footer-text: $colorWhite;
$color-footer-background: $colorGreen-300;

$color-navbar-bg: $colorBlack-300;
$color-navbar-hover-bg: $colorGreen-400;
$color-navbar-text: $colorGold-300;
$color-navbar-submenu-bg: $colorGreen-400;
$color-navbar-submenu-text-hover: $colorGold-300;

$color-header-bg: $colorBlack-300;
$color-header-text-top: $colorGrey-400;

$color-new-text-title: $colorGold-300;
