$roboto-font-path: '../fonts';
//
$fontFamily-roboto: 'Roboto';
// $fontFamily-droidSerif: 'DroidSerif';
// $fontFamily-fontAwesome: 'FontAwesome';

$color-footer-text: $colorWhite;
$color-footer-background: $colorGreen-300;

$color-navbar-bg: $colorGreen-300;
$color-navbar-hover-bg: $colorGreen-500;
$color-navbar-text: $colorWhite;
$color-navbar-submenu-bg: $colorGreen-500;
$color-header-text-top: $colorGrey-400;
$color-header-button: $colorOrange-500;

$color-new-text-title: $colorGreen-300;
