.block-info {
    background-color: $colorGrey-100;
    border-top: 1px solid $colorGrey-200;
    border-bottom: 1px solid $colorGrey-200;
    padding: 70px 0;
    h2{
        text-transform: none;
        color: $colorGold-400 !important;
        font-weight: 400;
        font-size: 30px;
        background: none;
        margin-bottom: 40px;
    }
}
