.block-half-bg {
    position: relative;
    text-align: center;
    .bg-one {
        background-color: $colorGrey-300;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 50%;
        border-top: 1px solid $colorGrey-300;
        border-bottom: 1px solid $colorGrey-300;
        border-right: 1px solid $colorGrey-300;
    }
    .bg-two {
        background-color: $colorGrey-200;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        border-top: 1px solid $colorGrey-300;
        border-bottom: 1px solid $colorGrey-300;
    }
    .block-item {
        height: 400px;
    }
    .block-content {
        @include vertical-align;
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
    h2 {
        text-transform: none;
        color: $colorGold-400 !important;
        font-weight: 500;
        font-size: 30px;
        background: none;
        margin-bottom: 20px;
        margin-top: 0;
    }
    @media(min-width: $screen-tablet) and (max-width: $screen-sm-max) {
        h2 {
            margin-bottom: 20px;
        }
        p {
            margin-top: 0;
        }
    }
    @media(max-width: $screen-xs-max) {
        .bg-one {
            top: 0;
            bottom: 50%;
            left: 0;
            right: 0;
        }
        .bg-two {
            top: 50%;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .block-item {
            height: 320px;
        }
        h2 {
            font-size: 2.5em;
        }
    }
}
