.cookies {
    position: relative;
    display: none;
    border: 1px solid $colorBlack;
    padding: 20px;
    .cookies-container {
        text-align: center;
    }
    h2, p {
        margin: 0;
        font-family: $fontFamily-roboto;
    }
    p {
        color: $colorGrey-500;
    }
    h2 {
        color: $colorGrey-600;
        font-weight: bold;
        font-size: 1.15em;
        margin-bottom: 20px;
    }
    a {
        color: $colorGreen-400;
    }
    .close-cookies {
        position: absolute;
        top: 15px;
        right: 20px;
        .icon {
            font-size: 30px;
        }
        .sub-icon {
            position: relative;
            right: 4px;
        }
    }
}
