.grid-green {
    margin-top: 50px;
    margin-bottom: 30px;
    background: $colorGreen-300;
    .item-container {
        position: relative;
        height: 400px;
        text-align: center;
        color: $colorWhite;
    }
    .item-align {
        @include vertical-align(absolute);
        width: 100%;
    }
    .icon {
        color: $colorGold-300;
        font-size: 3em;
    }
    h2 {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 2.85em;
        margin-top: 0;
        margin-bottom: 20px;
    }
    p {
        font-size: 1.15em;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    button {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    @media (min-width: $screen-desktop) {
        margin-top: 70px;
        margin-bottom: 20px;
        background: url("../images/press-green-gred-md.jpg") repeat-x;
    }
    @media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {
        background: url("../images/press-green-gred-sm.jpg") repeat-x;
    }
    .item {
        @media (min-width: $screen-desktop) {
            &.bl-md {
                border-left: 2px solid $colorWhite;
            }
            &.br-md {
                border-right: 2px solid $colorWhite;
            }
            p {
                max-width: 60%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        @media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {
            &.bl-sm {
                border-left: 2px solid $colorWhite;
            }
            &.br-sm {
                border-right: 2px solid $colorWhite;
            }
            p {
                max-width: 70%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        @media (max-width: $screen-xs-max) {
            border-top: 2px solid $colorWhite;
            border-bottom: 2px solid $colorWhite;
            &:first-child {
                border-top: 0;
            }
            &:last-child {
                border-bottom: 0;
            }
            h2 {
                font-size: 2.5em;
            }
            p {
                max-width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
            .item-container {
                height: 320px;
            }
        }
    }
}
