.tags {
    font-family: $fontFamily-roboto;
    font-weight: 500;
    .tag {
        color: $color-new-text-title;
        text-decoration: none;
        border: 1px solid $colorGrey-300;
        padding: 4px 12px;
        margin-right: 5px;
        @include border-radius(15px);
    }
}
