.tags {
    font-family: $fontFamily-GothamPro;
    font-weight: 500;
	@extend .text-130;
    a.tag {
        display: inline-block;
        color: $color-new-text-title;
        text-decoration: none;
        border: 1px solid $colorGrey-300;
        padding: 4px 12px;
        margin-right: 5px;
        margin-bottom: 5px;
        @include border-radius(2px);
		&:hover {
			background-color: $colorGold-300;
			color: $colorWhite;
			border: 1px solid $colorWhite;
		}
    }
}
