.tour-description {
    padding: 40px 0;

    .images-info {
        img {
            margin: 0 10px 10px 0;
            width: 47%;
        }
    }

    ul {
        &.fancy-list {
            list-style-type: none;
            list-style-position: outside;
            padding-left: 0;
            li {
                line-height: 30px;
                padding-left: 42px;
                padding-bottom: 10px;
                display: block;
                position: relative;
            }
            li:before {
                font-family: $fontFamily-fontAwesome;
                font-style: normal;
                color: $colorGrey-400;
                font-weight: normal;
                text-decoration: inherit;
                font-size: $text-140;
                position: absolute;
                top: 1px;
                left: 0px;
            }
            &.tick li:before {
                font-size: $text-300;
                color: $colorGold-400;
                content: "\f00c";
            }
        }
    }

    .touricons-block {
        text-align: center;
        margin: 0 0 15px 10px;
        display: inline-block;
        width: 100%;
        i.touricon {
            color: $colorGold-400;
            font-size: $text-400;
            &.fa.fa-cutlery.touricon {
                font-size: $text-500;
            }
            &.fa.fa-glass {
                font-size: 49px;
            }
            &.touricon-big {
                font-size: $text-500;
                & > p {
                    margin-bottom: 0;
                }
            }
        }
        p.info-touricon {
            font-size: $text-180;
            color: $colorGold-400;
            display: inline;
            white-space: nowrap;
            vertical-align: baseline;
       }
    }
}
