{% import "/includes/_tags.html" as macroTag %}
<section class="news col-xs-12 col-sm-6 col-lg-4 wow fadeInUp">
    <div class="content">
        <div class="img-content">
            <img src="{{ elem.img }}" alt="..." />
        </div>
        <div class="content-new">
            <h2 class="title"><a href="{{ elem.link }}">{{ elem.title }}</a></h2>
            <div class="content-list">
                <div class="date">
                    {{ elem.date }}
                </div>
                {% if elem.tags %}
                <div class="hidden-xs">
                    {{ macroTag.tags(elem.tags) }}
                </div>
                {% endif %}
            </div>
            {% if elem.desc %}
            <div class="description hidden-xs">
                <p>{{ elem.desc }}</p>
            </div>
            {% endif %}
        </div>
    </div>
    {% if elem.tags %}
    <div class="visible-xs">
        {{ macroTag.tags(elem.tags) }}
    </div>
    {% endif %}
</section>
