<!-- social list -->
<ul class="social-newtwork">
    <li><span class="text">Comparte: </span></li>
    <li><a href="#">
        <span class="fa-stack fa-lg">
            <span class="fa fa-circle-thin fa-stack-2x"></span>
            <span class="fa fa-twitter fa-stack-1x"></span>
        </span>
    </a></li>
    <li><a href="#">
        <span class="fa-stack fa-lg">
            <span class="fa fa-circle-thin fa-stack-2x"></span>
            <span class="fa fa-facebook fa-stack-1x"></span>
        </span>
    </a></li>
    <li><a href="#">
        <span class="fa-stack fa-lg">
            <span class="fa fa-circle-thin fa-stack-2x"></span>
            <span class="fa fa-google-plus fa-stack-1x"></span>
        </span>
    </a></li>
    <li><a href="#">
        <span class="fa-stack fa-lg">
            <span class="fa fa-circle-thin fa-stack-2x"></span>
            <span class="fa fa-envelope-o fa-stack-1x"></span>
        </span>
    </a></li>
    <li class="visible-xs-inline"><a href="#">
        <span class="fa-stack fa-lg">
            <span class="fa fa-circle-thin fa-stack-2x"></span>
            <span class="fa fa-whatsapp fa-stack-1x"></span>
        </span>
    </a></li>
</ul>
<!-- EO social list -->
