<section class="tip col-xs-12 col-sm-6 col-lg-3">
    <div class="content">
        <div class="img-content">
            <img class="" src="{{ elem.img }}" alt="..." />
        </div>
        <div class="content-new">
            <a class="title" href="{{ elem.link }}" rel="...">{{ elem.title }}</a>
            <p class="description hidden-xs">
                {{ elem.description }}
            </p>
        </div>
    </div>
    <a href="#"><i class="fa fa-angle-right visible-xs-inline-block" aria-hidden="true"></i></a>
</section>
