{% macro sectionTitle(title, linkTitle, link) %}
<div class="container">
    <section class="primary-title">
        <h2 class="title">
            {{ title }}
        </h2>
        <a class="link hidden-xs" href="{{ link }}">
            {{ linkTitle }}
        </a>
        <a class="link arrow visible-xs" href="{{ link }}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </section>
    <p>Read about&nbsp;Valencia cuisine, cool things to do, beautiful beaches, itineraries and ideas on what to discover in Valencia.</p>
    <p><em>Also check out&nbsp;my <a href="http://www.valenciafoodtourspain.com/map-and-miniguide/" target="_blank">Map &amp; Miniguide</a> on where to eat in Valencia plus information on how restaurants and menus work here and on how to order your paella!&nbsp;</em></p>
</div>
{% endmacro %}
