a.btn,
button {
  text-transform: uppercase;
}

.btn-rounded-shop {
    @include btn-custom(4px, $colorOrange-500, $colorWhite, $colorWhite);
    padding: 10px 25px;
}

.btn-rounded-shop:hover {
  @include btn-custom(4px, $colorOrange-400, $colorWhite, $colorWhite);
}

.btn-rounded-transparent {
    @include btn-custom(4px, $colorTransparent, $colorWhite, $colorWhite);
    border-color: $colorWhite;
    border-style: solid;
    padding: 8px 20px;
}

.btn-big {
    height: 60px;
    padding: 8px 30px;
}

.container-buttons-action {
    text-align: center;
    .btn-book {
        min-width: 153px;
        margin-left: 30px;
    }
}
