.btn-rounded-shop {
    @include btn-custom(4px, $colorGold-300, $colorWhite, $colorWhite);
    padding: 10px 25px;
    &:hover {
        background-color: $colorGreen-500;
    }
}

.btn-rounded-transparent {
    @include btn-custom(4px, $colorTransparent, $colorWhite, $colorWhite);
    border-color: $colorWhite;
    border-style: solid;
    padding: 8px 20px;
    &:hover {
        background-color: $colorGold-300;
    }
}

.btn-rounded-orange {
    @include btn-custom(4px, $colorGold-300, $colorWhite, $colorWhite);
    border-color: $colorWhite;
    border-style: solid;
    padding: 8px 20px;
    &:hover {
        background-color: $colorGreen-500;
    }
}

.btn-rounded-orange-border {
    @extend .btn-rounded-transparent;
    border-color: $colorGold-200;
    border-style: solid;
    padding: 8px 20px;
    &:hover {
        background-color: $colorGold-300;
    }
}

.btn-big {
    height: 60px;
    padding: 8px 30px;
}

.btn-rounded-job {
    font-size: 1.145em;
    padding: 0 30px;
    @include btn-custom (25px, $colorGreen-500, $colorWhite, $colorWhite, auto, 50px);
    &:hover {
        background-color: $colorGold-300;
    }
}

.btn-form-sumbit {
    font-family: $fontFamily-roboto;
    font-weight: bold;
    font-size: 1.15em;
    width: 150px;
    @media (max-width: $screen-xs-max) {
        width: 100%;
    }
}
