.btn {
    font-weight: $btn-font-weight;
    display: inline-block;
    margin-bottom: 0; // For input.btn
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;
    border: 1px solid transparent;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    touch-action: manipulation;
    @include button-size( $padding-xlarge-vertical, $padding-xlarge-horizontal, $font-size-base - 1, $line-height-base, $btn-border-radius-base);
    @include user-select(none);
}

.container-buttons-action-center {
    text-align: center;
}

.container-buttons-action,
.container-buttons-action-center {
    .first-btn {
        margin-right: 20px;
    }
}
/*.btn-rounded-shop {
    @include btn-custom(4px, $colorGold-300, $colorWhite, $colorWhite);
    padding: 10px 25px;
    &:hover {
        background-color: $colorGreen-500;
    }
}*/
.btn-rounded-transparent {
    padding: 8px 20px;
    border-style: solid;
    border-color: $colorWhite;
    @include btn-custom(4px, $colorTransparent, $colorWhite, $colorWhite);

    &:hover {
        background-color: $colorGold-300;
    }
}

.btn-rounded-orange {
    padding: 8px 20px;
    border-style: solid;
    border-color: $colorWhite;
    @include btn-custom(4px, $colorGold-300, $colorWhite, $colorWhite);

    &:hover {
        background-color: $colorGreen-500;
    }
}

.btn-rounded-orange-border {
    padding: 8px 20px;
    border-style: solid;
    border-color: $colorGold-200;
    @extend .btn-rounded-transparent;

    &:hover {
        background-color: $colorGold-300;
    }
}

.btn-big {
    height: 60px;
    padding: 8px 30px;
}

.btn-rounded-job {
    font-size: 1.145em;
    padding: 0 30px;
    @include btn-custom (25px, $colorGreen-500, $colorWhite, $colorWhite, auto, 50px);

    &:hover {
        background-color: $colorGold-300;
    }
}

.btn-form-sumbit {
    font-family: $fontFamily-GothamPro;
    font-size: 1.15em;
    font-weight: bold;
    width: 150px;
    @media (max-width: $screen-xs-max) {
        width: 100%;
    }
}
