@import "bower_components/roboto-fontface/css/roboto/sass/roboto-fontface";

@font-face {
  font-family: 'DroidSerif';
  src: url('../fonts/droid/DroidSerif.eot');
  src: url('../fonts/droid/DroidSerif.woff2') format('woff2'),
       url('../fonts/droid/DroidSerif.woff') format('woff'),
       url('../fonts/droid/DroidSerif.ttf') format('truetype'),
       url('../fonts/droid/DroidSerif.svg#DroidSerif') format('svg'),
       url('../fonts/droid/DroidSerif.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSerif';
  src: url('../fonts/droid/DroidSerif-Italic.eot');
  src: url('../fonts/droid/DroidSerif-Italic.woff2') format('woff2'),
       url('../fonts/droid/DroidSerif-Italic.woff') format('woff'),
       url('../fonts/droid/DroidSerif-Italic.ttf') format('truetype'),
       url('../fonts/droid/DroidSerif-Italic.svg#DroidSerif-Italic') format('svg'),
       url('../fonts/droid/DroidSerif-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DroidSerif';
  src: url('../fonts/droid/DroidSerif-Bold.eot');
  src: url('../fonts/droid/DroidSerif-Bold.woff2') format('woff2'),
       url('../fonts/droid/DroidSerif-Bold.woff') format('woff'),
       url('../fonts/droid/DroidSerif-Bold.ttf') format('truetype'),
       url('../fonts/droid/DroidSerif-Bold.svg#DroidSerif-Bold') format('svg'),
       url('../fonts/droid/DroidSerif-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSerif-BoldItalic';
  src: url('../fonts/droid/DroidSerif-BoldItalic.eot');
  src: url('../fonts/droid/DroidSerif-BoldItalic.woff2') format('woff2'),
       url('../fonts/droid/DroidSerif-BoldItalic.woff') format('woff'),
       url('../fonts/droid/DroidSerif-BoldItalic.ttf') format('truetype'),
       url('../fonts/droid/DroidSerif-BoldItalic.svg#DroidSerif-BoldItalic') format('svg'),
       url('../fonts/droid/DroidSerif-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'FontMercadona';
  src:  url('../fonts/icon-mercadona/FontMercadona.eot?xsbixv');
  src:  url('../fonts/icon-mercadona//FontMercadona.eot?xsbixv#iefix') format('embedded-opentype'),
        url('../fonts/icon-mercadona//FontMercadona.ttf?xsbixv') format('truetype'),
        url('../fonts/icon-mercadona//FontMercadona.woff?xsbixv') format('woff'),
        url('../fonts/icon-mercadona//FontMercadona.svg?xsbixv#FontMercadona') format('svg');
  font-weight: normal;
  font-style: normal;
}