html, body {
    a:focus {
        outline: 0;
    }
    overflow-x: hidden;
}

.vertical-align {
    display: flex;
    align-items: center;
}

@media(max-width: $screen-xs-max) {
    .webpage {
        @include transition(left 0.5s ease);
        position: relative;
        left: 0%;
    }
    .nav-phone-open .webpage {
        left: 100%;
    }
    .nav-phone-open {
        height: 100%;
        body, .webpage {
            height: 100%;
        }
    }
}

.img-thumbnail-phone {
    min-width: 110px;
    max-width: 110px;
    height: 110px;
    overflow: hidden;
    margin-right: 20px;
    img {
        width: auto;
        height: 100%;
    }
}

.film-grey {
    @include background-black-gradient;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-list-group {
    @include flexbox();
    @include justify-content(center);
    @include flex-flow(column wrap);
    @media(min-width: $screen-tablet) {
        @include flex-flow(row wrap);
    }
    @media (max-width: $screen-xs-max) {
        margin-left: $grid-gutter-width / -2;
        margin-right: $grid-gutter-width / -2;
    }
}
