[class*=" icon-fmd-"],
[class^="icon-fmd-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'FontMercadona' !important;
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fmd-back .path1:before {
    content: "\e917";
    color: rgb(0, 153, 102);
}

.icon-fmd-back .path2:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-fmd-cart:before {
    content: "\e919";
}

.icon-fmd-search:before {
    content: "\e91a";
}

.icon-fmd-arrow-left:before {
    content: "\e900";
}

.icon-fmd-arrow-right:before {
    content: "\e901";
}

.icon-fmd-bullhorn:before {
    content: "\e902";
}

.icon-fmd-carret-down:before {
    content: "\e903";
}

.icon-fmd-carret-rounded-down:before {
    content: "\e904";
}

.icon-fmd-clock:before {
    content: "\e905";
}

.icon-fmd-document:before {
    content: "\e906";
}

.icon-fmd-documents:before {
    content: "\e907";
}

.icon-fmd-form:before {
    content: "\e908";
}

.icon-fmd-mail:before {
    content: "\e909";
}

.icon-fmd-map-marker:before {
    content: "\e90a";
}

.icon-fmd-mercadona-basket:before {
    content: "\e90b";
}

.icon-fmd-mobile:before {
    content: "\e90c";
}

.icon-fmd-multimedia:before {
    content: "\e90d";
}

.icon-fmd-notebook:before {
    content: "\e90e";
}

.icon-fmd-parking:before {
    content: "\e90f";
}

.icon-fmd-phone:before {
    content: "\e910";
}

.icon-fmd-question:before {
    content: "\e911";
}

.icon-fmd-report:before {
    content: "\e912";
}

.icon-fmd-schedule:before {
    content: "\e913";
}

.icon-fmd-th-list:before {
    content: "\e914";
}

.icon-fmd-th:before {
    content: "\e915";
}

.icon-fmd-world:before {
    content: "\e916";
}
