.detail-new {
    p {
        color: $colorGrey-500;
        font-size: 1.145em;
    }
    h2 {
        font-size: 1.425em;
        color: $colorGrey-600;
        font-family: $fontFamily-GothamPro;
    }
    img {
        max-width: 770px;
        width: 100%;
        margin: 40px 0 70px;
    }
    @media (min-width: $screen-tablet) {
        p {
            font-size: 1.285em;
            line-height: 1.6em;
            margin-bottom: 30px;
        }
        h2 {
            margin-bottom: 40px;
        }
    }
}
