.controls-grid {
    @include flexbox();
    @include align-items(center);
    margin-top: 45px;
    .buttons-grid-list {
        margin-right: 35px;
        a {
            color: $colorGrey-300;
            span {
                font-size: 1.5em;
            }
            &.active {
                color: $colorGreen-300;
            }
            &:first-child() {
                margin-right: 20px;
            }
        }
    }
}
