.bootstrap-select .dropdown-toggle:focus {
    outline: 0!important;
}

.inner_wrap {
    width: 100%;
    //max-width: 960px;
}

.inner_wrap {
    //width: 960px;
    margin: 0 auto;
}

.text-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.bb-0 {
    border-bottom: 0;
}

.mgt-30 {
    margin-top: 30px;
}

.mgt-50 {
    margin-top: 50px;
}

.mgt-70 {
    margin-top: 70px;
}

.mgt-100 {
    margin-top: 100px;
}

.mgb-50 {
    margin-bottom: 50px;
}

.mgb-90 {
    margin-bottom: 90px;
}

.mgb-100 {
    margin-bottom: 100px;
}

.mgb-110 {
    margin-bottom: 110px;
}

.mgb-120 {
    margin-bottom: 120px;
}

@media(min-width: $screen-tablet) {
    .mgt-sm-100 {
        margin-top: 100px;
    }

    .mgb-sm-100 {
        margin-bottom: 100px;
    }
}
