.management-list {
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
    dt, dd {
        font-family: $fontFamily-GothamPro;
    }
    dt {
        font-weight: normal;
        color: $colorGrey-600;
    }
    dd {
        font-weight: lighter;
        color: $colorGrey-400;
    }
    @media(min-width: $screen-tablet) {
        overflow: hidden;
        margin-bottom: 30px;
        border-bottom: 1px solid $colorGrey-300;
        dt, dd {
            font-size: 1.3em;
            padding-bottom: 20px;
        }
        dt {
            width: 50%;
            float: left;
        }
        dd {
            width: 50%;
            text-align: right;
            float: right;
            clear: right;
        }
    }
    @media(max-width: $screen-xs-max) {
        text-align: center;
        dd {
            font-size: 1.29em;
            padding-top: 5px;
        }
    }
}

.management-group {
    @media(min-width: $screen-desktop) {
        margin-top: 110px;
        margin-bottom: 130px;
    }
    @media(max-width: $screen-xs-max) {
        margin-top: 50px;
        margin-bottom: 60px;
    }
}
