.nav-content {
    font-family: $fontFamily-GothamPro;
    background-color: $color-navbar-bg;
    //font-size: 1.2em;
    font-weight: 300;
    &.navbar-fixed-top {
        @include alpha-attribute('background-color', rgba($color-navbar-bg, 0.85), $color-navbar-bg);
    }
    .submenu-content {
        @extend .container;
    }
    .active_option {
        color: white !important;
    }
    .panel-menu {
        margin-bottom: 0;
        background-color: $colorTransparent;
        @include border-radius(0);
        border: none;
        box-shadow: none;
    }
    .navbar {
        margin-bottom: 0;
        border: none;
        position: inherit;
        .nav {
            .logo-fixed {
                width: 0;
                height: 0;
                opacity: 0;
                @include transition(all .2s ease-in-out);
                a {
                    padding: 5px 0 0 0;
                    &:hover, &:focus {
                        background-color: $colorTransparent;
                    }
                }
            }
            li {
                position: inherit;
            }
            a {
                color: $color-navbar-text;
                text-transform: uppercase;
                font-size: $text-140;
                &:hover, &:focus {
                    background-color: $colorTransparent;
                    color: white;
                }
            }
			.btn-navbar {
				display: none;
			}
        }
    }
    .sub-menu {
        z-index: 1;
        position: absolute;
        width: 100%;
        left: 0;
        @include alpha-attribute('background-color', rgba($color-navbar-bg, 0.9), $color-navbar-bg);
        .nav{
            li:hover {
                a::before {
                    left: 0;
                    width: 100%;
                }
            }
            a {
                position: relative;
                color: white;
                &.active::before {
                    left: 0;
                    width: 100%;
                }
                &::before {
                    @include transition (all 0.2s);
                    content: "";
                    position: absolute;
                    bottom: 18px;
                    left: 50%;
                    height: 3px;
                    width: 0;
                    bottom: 0;
                    background: $color-navbar-submenu-text-hover;
                }
                &:hover {
                    color: $color-navbar-submenu-text-hover;
                }
            }

        }
    }
    &.navbar-fixed-top .navbar .nav  {
        .logo-fixed {
            opacity: 1;
            display: block;
            width: 120px;
            height: 45px;
        }
        a {
            font-size: $text-130;
        }
		.btn-navbar {
			margin-right: 10px;
			display: block;
			.last-btn {
				margin-right: 0;
			}
			.btn-primary,
			.btn-success {
				color: $colorWhite;
				opacity: 0.6;
			}
			.btn-primary {
				&:hover, &:focus {
					background-color: darken($btn-primary-bg, 10%);
					border-color: darken($btn-primary-bg, 10%);
					opacity: 1;
				}
			}
			.btn-success {
				&:hover, &:focus {
					background-color: darken($btn-success-bg, 10%);
					border-color: darken($btn-success-bg, 10%);
					opacity: 1;
				}
			}
		}
    }
    .languages-menu {
        color: $color-header-text-top;
        margin-bottom: 15px;
        a, button.btn {
            &, &:hover, &:focus {
                color: $colorWhite;
            }
        }
        .dropdown-menu ul {
            li a {
                color: $colorGrey-300;
            }
        }
    }
    .closed.languages-menu-mobile {
        overflow: hidden;
    }
    .languages-menu-mobile {
        @include transition(all .5s);
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        background-color: $colorGreen-300;
        z-index: 1;
        &.closed {
            top: 100vh;
            height: 0;
        }
        .close-languages {
            cursor: pointer;
            float: left;
            font-size: 40px;
            color: $colorWhite;
            .sub-icon {
                position: relative;
                right: 4px;
            }
        }
        .logo img {
            margin-top: 20px;
        }
        a {
            color: $colorWhite;
            text-decoration: none;
        }
        dt {
            color: $colorWhite;
            font-weight: normal;
            padding: 17px 0;
        }
        dd {
            margin-left: $grid-gutter-width / -2;
            margin-right: $grid-gutter-width / -2;
            background-color: $colorGreen-400;
            padding: 10px 15px;
            &.active {
                background-color: $colorGold-300;
            }
        }
    }

}
.select-group {
    display: inline-block;
    position: relative;
    padding-right: 15px;
    .icon-caret {
        position: absolute;
        right: 0;
        top: 5px;
    }
}

@media(min-width: $screen-tablet) {
    .nav-content {
        .active_menu {
            background-color: $color-navbar-submenu-bg;
            @include border-radius(0);
        }
        .panel {
            .icon-collapse {
                margin-left: 5px;
            }
        }
        .navbar a {
            padding: 17px 10px;
            //font-size: .8385em;
        }
        .sub-menu {
            @include alpha-attribute('background-color', rgba($color-navbar-bg, 0.9), $color-navbar-bg);
            overflow: hidden;
            .section-submenu {
                padding: 17px 0;
                margin: 0 10px;
            }
        }
        .force-show-menu {
            display: block;
            height: auto!important;
        }
    }
}

@media(min-width: $screen-desktop) {
    .nav-content {
        .panel {
            .icon-collapse {
                margin-left: 8px;
            }
        }
        .navbar a {
            padding: 17px 20px;
            font-size: 1em;
        }

        .sub-menu{
            @include alpha-attribute('background-color', rgba($color-navbar-bg, 0.9), $color-navbar-bg);
             .section-submenu {
                padding: 17px 0;
                margin: 0 19px;
            }
        }
    }
}

@media(max-width: $screen-xs-max) {
    .nav-phone-launch {
        cursor: pointer;
    }
    .nav-content {
        .icon-phone-collapse.closed {
            display: none;
        }
        .collapsed {
            .icon-phone-collapse {
                &.opened {
                    display: none;
                }
                &.closed {
                    display: initial;
                }
            }
        }
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        min-height: 100%;
        .navbar-nav {
            margin-top: 0;
            margin-bottom: 0;
        }
        .icon-phone-collapse {
            float: right;
            font-size: 15px;
            position: relative;
            right: 5px;
            top: 3px;
        }
        .navbar {
            .panel {
                &:last-child {
                    border-bottom: none;
                }
                a {
                    margin: 0 15px;
                    padding: 16px 0;
                    &, &:hover, &:active, &:focus {
                        border: none;
                        border-bottom: 1px solid $colorWhite;
                    }
                }
                 .sub-menu a {
                    &, &:hover, &:active, &:focus {
                        border-bottom: none;
                    }
                    &::before {
                        display: none
                    }
                }
            }
            .nav {
                a:hover, a:focus {
                    background-color: $colorTransparent;
                }
                .logo-fixed {
                    padding-right: 15px;
                    padding-left: 15px;
                    opacity: 1;
                    width: auto;
                    height: auto;
                    img {
                        max-width: 350px;
                    }
                    a {
                        display: inline-block;
                        width: auto;
                    }
                    .logo {
                        padding: 0;
                    }
                }
            }
            .sub-menu {
                a {
                    padding-left: 25px;
                    padding-right: 10px;
                }
            }
        }
        .sub-menu {
            position: relative;
            @include alpha-attribute('background-color', rgba($color-navbar-bg, 0.9), $color-navbar-bg);

            ul {
                margin-bottom: 0;
                li:last-child a {
                    border-bottom: none;
                }
            }
        }
        .logo-fixed {
            text-align: center;
            margin-bottom: 20px;
            .logo {
                top: 5px;
            }
        }
        .nav-phone-launch {
            float: left;
            font-size: 40px;
            .sub-icon {
                position: relative;
                right: 4px;
            }
        }
        .buy-button {
            font-size: 1em;
            span {
                font-weight: bold;
                margin-right: 5px;
            }
        }
        .languages-menu a, .languages-menu button.btn {
            font-size: .72em;
        }
        .languages-menu {
            .separator {
                color: $colorWhite;
            }
            .languages-mobile-button .icon-language {
                margin-left: 10px;
            }
        }
        .select-group {
            padding-right: 0;
        }
    }
    .nav-content.navbar-fixed-top .navbar .nav .logo-fixed {
        width: 100%;
    }
    .nav-content .sub-menu .nav a::before {
        background-color: transparent;
    }
}
