.actuality {
    padding: 30px 0;
    border-top: 1px solid $colorGrey-300;
    @include flexbox();
    @include flex-direction(column);
    .content {
        @include flexbox();
        @include flex-direction(row);
    }
    .img-content {
        @extend .img-thumbnail-phone;
        margin-right: 30px;
    }

    .content-new {
        position: relative;
        .title {
            text-decoration: none;
            color: $color-new-text-title;
            font-size: 1.3em;
            line-height: 1.2em;
            margin: 0;
            font-weight: bold;
            @include ellipsis(3);
        }
        .date {
            color: $colorGrey-500;
            position: absolute;
            bottom: 7px;
            font-size: .95em
        }
    }

    .tags {
        padding: 17px 0 0 130px;
    }

    @media(min-width: $screen-tablet) {
        padding: 0;
        @include flex-direction(column);
        border-left: 1px solid $colorGrey-300;
        border-top: 0;
        &:nth-child(4n), &:last-child {
            border-right: 1px solid $colorGrey-300;
        }
        .content {
            display: block;
        }
        .img-content {
            max-width: 100%;
            height: auto;
            margin-right: 0;
            padding: 0;
            img {
                width: 100%;
                height: auto;
            }
        }
        .content-new {
            padding: 20px 30px;
            .title {
                @include ellipsis(2);
                margin: 0 0 37px;
                font-size: 1.64em;
            }
            .date {
                @include ellipsis(2);
                position: inherit;
            }
        }
        .tags {
            padding: 20px 0 0;
            margin-bottom: 25px;
        }
    }

    @media(min-width: $screen-lg-desktop) {
        .content-new {
            padding: 45px 55px 20px;
        }
    }
}

.list-group {
    margin-top: 35px;
    @include flexbox();
    @include justify-content(center);
    @include flex-flow(column wrap);
    @media(min-width: $screen-tablet) {
        @include flex-flow(row wrap);
    }
    .actuality {
        padding: 15px;
        .content-new {
            padding: 0;
            .title {
                font-family: $fontFamily-aux;
                font-weight: normal;
            }
            .description {
                display: none;
                p {
                    @include ellipsis(4);
                    color: $colorGrey-500;
                    line-height: 1.4em;
                    margin: 0
                }
            }
        }
        &.list-group-elem .content-new {
            padding-left: 30px;
            .content-list {
                display: flex;
                align-items: center;
                .tags {
                    padding: 0;
                    margin-left: 20px;
                }
            }
        }
    }
    @media(min-width: $screen-tablet) {
        .actuality {
            border: none;
            &.list-group-elem {
                border-bottom: 1px solid $colorGrey-300;
                padding-top: 60px;
                padding-bottom: 50px;
                &:first-child {
                    padding-top: 0;
                }
                .content-new {
                    .title {
                        line-height: 1.4em;
                        font-size: 1.6em;
                        height: 68px;
                        margin-top: 0;
                    }
                }
                .content-list {
                    padding-bottom: 15px;
                }
                .tags {
                    margin-bottom: 0;
                }
            }
            .content-new {
                .title {
                    margin-top: 25px;
                    margin-bottom: 10px;
                    min-height: 55px;
                }
            }
        }
    }
    @media(min-width: $screen-desktop) {
        .actuality{
            width: 33.33%;
            &.list-group-elem {
                width: 100%;
                .content-new {
                    .title {
                        font-size: 1.8em;
                        height: 75px;
                    }
                    .description p {
                        font-size: 1.13em;
                        line-height: 1.6em;
                    }
                }
                .content-list {
                    padding-bottom: 30px;
                }
            }
        }

    }

    @media(max-width: $screen-xs-max) {
        .actuality {
            padding: 30px 0;
            &.list-group-elem .content-new, &.list-group-elem .img-content {
                padding: 0;
            }
        }
    }
}
