.news {
    padding: 30px 0;
    border-top: 1px solid $colorGrey-300;
    &:last-child {
        border-bottom: 1px solid $colorGrey-300;
    }
    @include flexbox();
    @include flex-direction(column);
    .content {
        @include flexbox();
        @include flex-direction(row);
        &:hover img {
            @include scale(1.03);
        }
    }
    .img-content {
        @extend .img-thumbnail-phone;
        margin-right: 30px;
        padding: 0;
        img {
            @include transition(all .5s ease);
        }
    }

    .content-new {
        position: relative;
        .title {
            font-size: 1.3em;
            line-height: 1.2em;
            margin: 0;
            font-weight: bold;
            @include ellipsis(3);
            a {
                text-decoration: none;
                color: $color-new-text-title;
            }
        }
        .date {
            color: $colorGrey-500;
            position: absolute;
            bottom: 7px;
            font-size: .95em
        }
    }

    .tags {
        padding: 17px 0 0 130px;
    }

    @media(min-width: $screen-tablet) {
        padding: 0;
        border: 1px solid $colorGrey-300;
        border-top: 0;
        &:first-child {
            border-right: 0;
        }
        &:last-child {
            border-left: 0;
            display: none;
        }
        .content {
            display: block;
            text-align: center;
        }
        .img-content {
            max-width: 100%;
            height: auto;
            margin-right: 0;
            img {
                width: 100%;
                height: auto;
            }
        }
        .content-new {
            padding: 20px 30px;
            .title {
                @include ellipsis(2);
                margin: 0 0 32px;
                font-size: 1.64em;
            }
            .date {
                @include ellipsis(2);
                position: inherit;
            }
        }
        .tags {
            padding: 25px 0 0;
            margin-bottom: 25px;
        }
    }

    @media(min-width: $screen-lg-desktop) {
        .content-new {
            padding: 45px 55px 20px;
        }
        &:last-child {
            display: block;
        }
    }
}
