.list-group {
    margin-top: 35px;
    margin-bottom: 35px;
    .content {
        max-width: 500px;
        margin: 0 auto 35px;
        &:hover img {
            @include scale(1.03);
        }
    }
    .img-content {
        max-width: 100%;
        height: auto;
        margin-right: 0;
        img {
            width: 100%;
            height: auto;
            @include transition(all .5s ease);
        }
    }
    .content-new {
        padding: 0;
        position: relative;
        .title {
            font-family: $fontFamily-roboto;
            font-weight: normal;
            line-height: 1.4em;
            font-size: 1.6em;
            margin: 25px 0 10px;
            @include ellipsis(2);
            a {
                text-decoration: none;
                color: $color-new-text-title;
            }
        }
        .content-list {
            padding-bottom: 15px;
            .date {
                color: $colorGrey-500;
                font-size: .95em;
            }
            .tags {
                padding: 17px 0 0;
            }
        }
        .description {
            display: none;
        }

    }
    .list-group-elem .img-content {
        padding: 0;
    }

    @media(min-width: $screen-tablet) {
        .content {
            max-width: none;
            text-align: left;
        }
        .content-new .title {
            height: 68px;
        }
        .list-group-elem {
            border-bottom: 1px solid $colorGrey-300;
            padding: 60px 0 50px;
            &:first-child {
                padding-top: 0;
            }
            .content-new {
                padding-left: 30px;
                .title {
                    margin-top: 0;
                }
                .description p {
                    @include ellipsis(4);
                    color: $colorGrey-500;
                    line-height: 1.4em;
                    margin: 0
                }
            }
            .content-list {
                @include flexbox();
                @include align-items(center);
                .tags {
                    padding: 0;
                    margin-left: 20px;
                    margin-bottom: 0;
                }
            }
        }
    }

    @media(min-width: $screen-desktop) {
        .list-group-elem {
            width: 100%;
            .content-new {
                .title {
                    font-size: 1.8em;
                    height: 75px;
                }
                .description p {
                    font-size: 1.13em;
                    line-height: 1.6em;
                }
            }
            .content-list {
                padding-bottom: 30px;
            }
        }
    }
}
