.support-grid {
    text-align: center;
    &, a {
        color: $colorWhite;
    }
    h2 {
        font-family: $fontFamily-GothamPro;
        font-size: 2.85em;
    }
    p {
        font-size: 1.15em;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    .support-container {
        position: relative;
        min-height: 400px;
    }
    .support-centered {
        @include vertical-align(absolute);
        width: 100%;
    }
    .phone-number {
        font-family: $fontFamily-GothamPro;
    }
    .social-list {
        width: 100%;
        text-align: center;
        li {
            display: inline-block;
            float: none;
            font-size: 1.55em;
        }
    }
    .icon {
        font-size: 3em;
    }
    .phone {
        display: inline-block;
        font-size: 3em;
    }
    .social-list, .icon, .phone {
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .bg-top-left {
        background-color: $colorGreen-500;
    }
    .bg-top-right {
        background-color: $colorGreen-500;
    }
    .bg-bottom-left {
        background-color: $colorGreen-300;
    }
    .bg-bottom-right {
        background-color: $colorGreen-500;
    }
    @media(min-width: $screen-tablet) {
        .item {
            width: 50%;
            float: left;
            padding-left: 15px;
            padding-right: 15px;
        }
        p {
            text-align: left;
        }
        .bg-top-left {
            border-bottom: 3px solid $colorWhite;
            border-right: 3px solid $colorWhite;
        }
        .bg-top-right {
            border-bottom: 3px solid $colorWhite;
            border-left: 3px solid $colorWhite;
        }
        .bg-bottom-left {
            border-top: 3px solid $colorWhite;
            border-right: 3px solid $colorWhite;
        }
        .bg-bottom-right {
            border-top: 3px solid $colorWhite;
            border-left: 3px solid $colorWhite;
        }
        .bg-top-left, .bg-top-right {
            margin-top: 100px;
        }
        .bg-bottom-left, .bg-bottom-right {
            margin-bottom: 50px;
        }
    }
    @media(max-width: $screen-xs-max) {
        margin-left: $grid-gutter-width / -2;
        margin-right: $grid-gutter-width / -2;
        h2 {
            font-size: 2.29em;
        }
        .icon {
            margin-top: 25px;
            margin-bottom: 25px;
        }
        .support-container {
            min-height: 330px;
        }
        .bg-top-left, .bg-top-right, .bg-bottom-left, .bg-bottom-right {
            margin-bottom: 10px;
        }
    }
}
