.last-posts .new-blog {
    display: none;

    &:first-child {
        display: inherit;
    }
    @media (min-width: $screen-tablet) {
        &:nth-child(2) {
            display: inherit;
        }
    }
    @media (min-width: $screen-lg-desktop) {
        &:nth-child(3) {
            display: inherit;
        }
    }
}
