h1 {
    &.header-section {
        color:$colorGold-400;
        font-size: $text-260;
        font-weight: $fontWeight-bold;
        letter-spacing: 0.075em;
        line-height: 28px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 15px;
        margin-bottom: 40px;
        position: relative;
    }
    &.header-section:after {
        content: '';
        background-color: $colorGold-400;
        width: 80px;
        height: 1px;
        margin-left: -40px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
    }
}

h2 {
    &.section-title {
        font-size: $text-260;
        font-family: $font-family-base;
        text-transform: none;
        color: $colorGold-400;
        font-weight: $fontWeight-narrow-medium;
        margin: 20px 0 50px 0;
        border-bottom: 1px solid $colorGrey-200;
        display: block;
        padding: 0 0 12px;
        position: relative;
        line-height: 20px;
    }
    &.section-title:before {
        background: $colorGreen-600;
        bottom: -1px;
        content: "";
        height: 4px;
        position: absolute;
        width: 74px;
    }
}
