.container-job-advantages {
    border-top: 1px solid $colorGrey-300;
    border-bottom: 1px solid $colorGrey-300;
    margin-bottom: 100px;

    .text {
        padding-top: 65px;

        h2 {
            text-align: center;
            color: $colorGrey-600;
            font-weight: bold;
            font-size: 2.285em;
            margin-bottom: 35px;
        }

        p {
            color: $colorGrey-500;
            font-size: 1.142em;
        }
    }

    .videoWrapper {
        margin-top: 75px;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    @media (min-width: $screen-tablet) {
        border: none;
        margin-bottom: 60px;

        .video-text {
            border: 1px solid $colorGrey-300;

            .text {
                padding: 25px 85px 0;

                h2 {
                    text-align: left;
                    font-size: 2.5em;
                }
            }

            .videoWrapper {
                margin-top: 35px;
            }
        }
    }
    @media (min-width: $screen-desktop) {
        border-top: 1px solid $colorGrey-300;
        border-bottom: 1px solid $colorGrey-300;
        margin-bottom: 80px;

        .video-text {
            border: none;
            display: table;
            height: 100%;
            vertical-align: middle;

            .text,
            .videoWrapper {
                float: none;
                display: table-cell;
                vertical-align: middle;
                height: 100%;
            }

            .text {
                padding: 0 20px 0 0;

                p {
                    font-size: 1.285em;
                }
            }

            .videoWrapper {
                border-left: 1px solid $colorGrey-300;
                margin-top: 0;
                padding-bottom: 32%;
            }
        }
    }
}
