{% extends "/base/_base.html" %}
{% import "/includes/_imageSection.html" as sections %}

{% block content %}
    {% include "/components/_image-title.html" %}
    <div class="container mgb-100">
        <div class="paragraph bb-0">
            <p>Mercadona es una compañía de supermercados, de capital 100% español y familiar, que tiene por objetivo satisfacer las necesidades en alimentación, higiene personal y cuidado del hogar y mascotas de sus clientes. Su presidente ejecutivo es Juan Roig que asumió la dirección de la compañía en 1981.</p>
        </div>
        {% include "/components/_known-mercadona-grid.html" %}
    </div>
    {{ sections.imageSection(model) }}
    <div class="container">
        {% include "/components/_known-news.html" %}
    </div>
    {% include "/components/_knowus-documentation.html" %}
    {% include "/components/_workWithUs.html" %}
{% endblock %}
