{% extends "/base/_base.html" %}

{% block content %}
    {% include "/components/_image-title.html" %}
    <div class="container">
        <div class="paragraph">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada ultrices orci eu vehicula. Aenean interdum aliquet convallis. Praesent lobortis eleifend nulla, vel pulvinar quam dictum non. Curabitur vel leo arcu. Duis at sapien mollis, facilisis purus non, varius dolor. Phasellus laoreet velit neque, vel interdum eros vestibulum in.
            </p>
        </div>
        {% include "/components/_accordion.html" %}
        {% include "/components/_workWithUs.html" %}
    </div>
{% endblock %}
