{% extends "/base/_base.html" %}
{% import "/components/_text-box.html" as box %}
{% import "/includes/_imageSection.html" as sections %}

{% block content %}
    {% include "/components/_image-title.html" %}
    <div class="container mgb-90">
        <div class="paragraph">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non eleifend velit. In tempus eros tortor, ac finibus tellus condimentum id. Etiam a ullamcorper augue. Vivamus sollicitudin, velit eu sodales rhoncus, ipsum magna faucibus nunc, eget dictum lectus nunc id lorem.
            </p>
        </div>
        {{ box.textBox(textBox) }}
    </div>
    {{ sections.imageSection(invoice) }}
    <div class="container mgb-90">
        {% include "/components/_known-mercadona-grid.html" %}
    </div>
    <div class="mgb-120">
        {{ sections.imageSection(target) }}
    </div>
{% endblock %}
